extends index.pug

block content
  .container.mt-5
    h2.mb-4 Registro Histórico

    form.row.g-3.align-items-center.mb-4(action="/historico", method="GET")
      .col-auto
        label.col-form-label(for="frecuencia") Frecuencia de Datos
      .col-auto
        select.form-select#frecuencia(name="frecuencia")
          option(value="10", selected) Últimas 10 muestras
          option(value="100") Últimos 100 muestras
          option(value="500") Últimos 500 muestras
      .col-auto
        button.btn.btn-secondary(type="submit") Aplicar Filtro

    hr
    
    if historico && historico.length > 0
      table.table.table-hover.table-sm
        thead
          tr
            th Fecha y Hora
            th Humedad (%)
            th Temperatura (°C)
        tbody
          each registro in historico
            tr
              td #{registro.timestamp}
              td #{registro.humedad_relativa}
              td #{registro.temperatura}
    else
      p No hay datos históricos para mostrar.
